<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de Compras</title>
    <!-- Enlaces de las bibliotecas de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Carrito de Compras</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>${{ item.producto.precio }}</td>
                    <td>{{ item.cantidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'categorias' %}" class="btn btn-primary">Seguir Comprando</a>
    </div>
</body>
</html>

